*{
    margin: 0px;
    padding: 0px;
}
.weatherbackground{
    background-image:linear-gradient(rgb(18, 18, 19) 1%, transparent), url("weather.jpg");
    background-size: cover;
     height: 100vh;
    width: 100%; 
}
.searchbtn{
    display: flex; 
}
.weather{
    display: flex;
    justify-content:space-between;
}
#cityName{
    height: 50px;
    width: 350px;
    background-color: white;
    color: gray;  
    border: none;
    margin-top: 450px;
    margin-left: 40px;
    
}
#btn{
    height: 50px;
    width: 70px;
    background-color: rgb(43, 80, 245);
    color: white;
    border: none;
    margin-top: 450px;
    
}
.details{
    margin-top: 270px;
    margin-right: 110px;
}

#city, #calender, #temp1{
    color: white;
}
.temp{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#temp1{
    font-size: 40px;
}
.others{
    align-items: center;
    color: white;
    font-size: 20px;
}
.sun img{
    width: 20%;
    height: 20%;
}